<div id="header">
  <div class="header-top">
    <img class="header-logo" src="/SiteName/SiteAssets/Inventory/images/logo.png">
    <h2 class="header-title">Inventory</h2>
    <span id="version-number" data-balloon="v2.7.1434" data-balloon-pos="left">v2.7.1434</span>
  </div>
  <div class="header-bottom">
    <div class="header-links">
      <span class="link-span"><a href="/SiteName/Home/">Home</a></span>
      <span class="link-span"><a href="/SiteName/Samples/">Samples</a></span>
      <span class="link-span"><a href="/SiteName/Reagents/">Reagents</a></span>
    </div>
  </div>
</div>
