<div id="search-elements-wrapper">
  <input id="search-input" placeholder="Search" />
  <a id="search-cancel-button">Clear</a>
  <a class="button" id="search-button"><img src="/SiteName/SiteAssets/Inventory/images/search_icon.png"/></a>
  <div id="number-of-search-results-holder"></div>
  <div id="search-elements-grayout" data-balloon-pos="down" data-balloon-length="large"></div>
  <div id="search-checkbox-holder">
    <span id="search-checkbox-text">Include in search:&nbsp;&nbsp;</span>
    <div class="pretty p-default p-curve p-thick">
      <input type="checkbox" id="search-created-checkbox" />
      <div class="state p-primary-o">
        <label>Created Date</label>
      </div>
    </div>
    <div class="pretty p-default p-curve p-thick">
      <input type="checkbox" id="search-modified-checkbox" />
      <div class="state p-primary-o">
        <label>Modified Date</label>
      </div>
    </div>
  </div>
</div>
